name: Deploy Workflow

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Debut du deploiement
        run: echo "Debut du deploiement"

      - name: Afficher le secret
        run: echo "Token = ${{ secrets.DEPLOY_TOKEN }}"

      - name: Fin du deploiement
        run: echo "Deploiement termine par NOA Franck"
