name: Deploy Workflow

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Afficher début du déploiement
        run: echo "Début du déploiement"

      - name: Récupérer et afficher le secret DEPLOY_TOKEN
        run: echo "Token de déploiement = ${{ secrets.DEPLOY_TOKEN }}"

      - name: Afficher fin du déploiement
        run: echo "Déploiement terminé par [Votre Nom]"
